.background-page1 {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/031/412/original/red-neon-frame-border-background-with-glowing-lines-animation-free-video.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  color: white;
  padding: 20px;
}

.heading1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.description1 {
  font-size: 20px;
  margin-bottom: 20px;
  color:white;
  text-align: center;
}

.cta-button1 {
  
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
 
}

@media (min-width: 576px) {
  .heading1 {
    font-size: 32px;
  }

  .description1 {
    font-size: 18px;
  }

  .cta-button1 {
    font-size: 18px;
    padding: 12px 24px;
    /* align-items: center; */
   
  }
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .heading1 {
    font-size: 40px;
  }

  .description1 {
    font-size: 20px;
  }

  .cta-button1 {
    font-size: 20px;
    padding: 14px 28px;
  
  }
}
