.about-us {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
 
}
.mygal{
  margin-top: 60px;
}
.about-us-content {
  max-width: 800px;
  margin: 0 auto;
  animation: fade-in 1s ease;
  font-size: x-large;
  
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-us h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-media {
  margin-top: 50px;

}

.social-media h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-media li {
  margin: 0 10px;
}

.social-media li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media li a:hover {
  color: #007bff;
}

.image-gallery {
  margin-top:-250px;
}

.image-gallery h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  animation: fade-in 1s ease;
}
.gallery img:hover {
    transform: scale(0.9);
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  animation: fade-in 1s ease;
}

.products {
  /* margin-top: 10px; */
  align-items: center;
  justify-content: center;
}
.products .image{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  flex-direction: row;

}
@media screen and (max-width: 1250px) {
  .products .image{
    flex-direction: column;
  }
}
  

.products h3 {
  font-size: 20px;
  /* margin-bottom: 10px; */
}

.products ul {
  list-style: none;
  padding: 0;
}

.products li {
  margin-bottom: 5px;
  animation: fade-in 1s ease;
}
.products img {
  margin-top: 10px;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.products img:hover {
    transform: scale(0.9);
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
/* Responsive CSS */

@media (max-width: 768px) {
  .about-us {
    padding: 30px;
  }

  .about-us-content {
    max-width: 90%;
  }

  .about-us h2 {
    font-size: 22px;
  }

  .about-us p {
    font-size: 14px;
  }

  .social-media h3,
  .image-gallery h3,
  .products h3 {
    font-size: 18px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .about-us {
    padding: 20px;
  }

  .about-us h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .about-us p {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .social-media h3,
  .image-gallery h3,
  .products h3 {
    font-size: 16px;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery img {
    border-radius: 0;
  }
}
