/* Footer.css */
.footer {
  background-color: #f5f5f5;
  /* padding: 10px 0; */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-col {
  flex: 0 0 calc(100% / 3 - 20px);
  max-width: calc(100% / 3 - 20px);
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.footer-col:hover {
  transform: translateY(-5px);
}

.footer-col h3 {
  color: #333;
  font-size: 25px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.footer-col:hover h3 {
  color: powderblue;
}

.footer-col p {
  color: #666;
  line-height: 1.5;
  transition: color 0.3s ease;
}

.footer-col:hover p {
  color: powderblue;
}

.footer-contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #666;
  line-height: 1.5;
  align-items: center;
}

.footer-contact-list li {
  margin-bottom: 10px;
  transition: color 0.3s ease;
}
.footer-contact-list li >a{
  color: #333;
}

.footer-contact-list li:hover {
  color: powderblue;
}

.footer-contact-list i {
  margin-right: 10px;
}

.footer-social-icons {
  margin-top: 10px;
}

.footer-social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 30%;
  margin-right: 20px;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.3s ease;
}

.footer-social-icons a:hover {
  background-color: powderblue;
}

.footer-text {
  color: #0a0202;
  font-size: 14px;
  text-align: center;
  transition: color 0.3s ease;
  margin-bottom: 20px;
}

.footer-text:hover {
  color: powderblue;
}

.footer-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
  animation: dividerAnimation 1s infinite;
}

@keyframes dividerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Responsive Styling */

@media screen and (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-col {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 20px;
  }
}
