/* Common styles for both mobile and desktop */
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
  padding: 20px;
}
h1{
  text-align: center;
}
.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.gallery-image {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-image.active {
  transform: scale(1.1);
  z-index: 1;
}

.gallery-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  .gallery-image {
    flex: 0 0 calc(50% - 20px);
  }
}

/* Animation for gallery image hover */
.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
